*{
    font-family: Cambria, 'Times New Roman', serif;
}
body {
    background-color: wheat;
  }
.desc{
    color: red;
    font-weight: 800;
}
h1 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: rgb(0, 0, 0);
}
h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: rgb(0, 0, 0);
}
ul {
    list-style-type: none;
}
ol{
    list-style-position: inside;
}
p {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
li {
    text-align: center;
    font-weight: 200;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#homepage-title{
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: rgb(0, 0, 0);
}
#recipes-list{
    text-align: center;
    font-weight: 200;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
img{
    display: block;
    margin:auto;
    text-align: center;
}
figcaption{
    display: block;
    text-align: center;
    font-size: 18px;
}
hr.dotted {
    border-top: 3px dotted black;
  }